integrations/n8n/nous-run-agent.template.json
{
  "name": "Nous — Run Agent (inbound: n8n → Nous)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "When clicking Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/api/v1/runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "local-dev-public-api-key" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agentId\": \"REPLACE_WITH_AGENT_ID\",\n  \"input\": \"Hello from n8n\"\n}",
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Start Nous Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": { "amount": 4 },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Wait for run",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [680, 300],
      "webhookId": "d4444444-4444-4444-8444-444444444444"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:5000/api/v1/runs/{{ $json.runId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "local-dev-public-api-key" }
          ]
        },
        "options": {}
      },
      "id": "e5555555-5555-4555-8555-555555555555",
      "name": "Get Run Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "When clicking Test": { "main": [[{ "node": "Start Nous Run", "type": "main", "index": 0 }]] },
    "Start Nous Run": { "main": [[{ "node": "Wait for run", "type": "main", "index": 0 }]] },
    "Wait for run": { "main": [[{ "node": "Get Run Result", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "meta": { "templateDescription": "Triggers a Nous agent run via the public API, waits, then fetches the result." }
}
